<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex="100">
    <div fxLayout="column">
        <div class="search-header" fxLayout="row">
            <div class="search-title" fxLayout="column" fxFlex="5 0 0">
                {{ searchLabel }}
            </div>
            <div class="search-header-right" (click)="hideSearchContainer()">
                <span class="searchBarIcon icon-close"></span>
            </div>
        </div>
        
        <div *ngFor="let fieldsInfo of searchFieldData">
            <div *ngIf="fieldsInfo.formType !== 'ONHAND' && fieldsInfo.lovType !== 'IuCode'" fxLayout="column" class="search-content" fxFlex="1 0 0">
                <!-- For IU Code -->
                <!-- <ng-container *ngIf="fieldsInfo.lovType === 'IuCode'">
                    <mat-form-field class="materailFieldSize" fxFlex="100">
                        <mat-label>{{ fieldsInfo.label }}</mat-label>          
                        <mat-select *ngIf="fieldsInfo.type == 'LOV'" [(ngModel)]="IuValue" class='text-black-disabled' disabled>
                            <mat-option ngDefaultControl *ngFor="let listItem of fieldsInfo.list"
                                [value]="listItem.value" autocomplete="off">
                                {{ listItem.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container> -->
              
                <!-- For Status -->
                <ng-container *ngIf="fieldsInfo.lovType === 'status'">
                    <mat-form-field class="materailFieldSize" fxFlex="100">
                        <mat-label>{{ fieldsInfo.label }}</mat-label>
                        <mat-select *ngIf="fieldsInfo.type == 'LOV'" [(ngModel)]="statusValue">
                            <mat-option ngDefaultControl *ngFor="let listItem of fieldsInfo.list"
                                [value]="listItem.value" autocomplete="off">
                                {{ listItem.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>

                <!-- For Entity -->
                <ng-container *ngIf="fieldsInfo.lovType === 'entity'">
                    <mat-form-field class="materailFieldSize" fxFlex="100">
                        <mat-label>{{ fieldsInfo.label }}</mat-label>
                        <mat-select *ngIf="fieldsInfo.type == 'LOV'" [formControl]="entityValue" required>
                            <mat-option ngDefaultControl *ngFor="let listItem of fieldsInfo.list"
                                [value]="listItem.value" autocomplete="off" (onSelectionChange)="entitySelectionChanged($event,listItem.value)">
                                {{ listItem.label }}</mat-option>
                        </mat-select>
                        
                        <mat-error *ngIf="entityValue.errors?.required"  style="color: red; font-size: 12px;">Please Select Entity</mat-error>
                    </mat-form-field>
                </ng-container>


            </div>
        </div>
        <!-- For Batch Serial  -->
        <div *ngIf="entityType !== 'SERIAL'" fxLayout="column" class="search-content" fxFlex="1 0 0">
            <ng-container *ngIf="entityType === 'BATCH'">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>Batch</mat-label>
                    <input type="text" matInput (keyup.enter)="getSearhInfo()" [(ngModel)]="batchNumberValue" autocomplete="on">
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="entityType === 'LOCATOR GROUP'">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>Locator Group</mat-label>
                    <input type="text" matInput (keyup.enter)="getSearhInfo()" [(ngModel)]="locatorGroupValue" autocomplete="on">
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="entityType === 'LPN'">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>LPN</mat-label>
                    <input type="text" matInput (keyup.enter)="getSearhInfo()" [(ngModel)]="batchNumberValue" autocomplete="on">
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="entityType === 'STOCK LOCATOR'">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>Stock Locator</mat-label>
                    <input type="text" matInput (keyup.enter)="getSearhInfo()" [(ngModel)]="batchNumberValue" autocomplete="on">
                </mat-form-field>
            </ng-container>
        </div>
        <div fxLayout="row wrap">
            <div [ngStyle]="{'display': (entityType === 'SERIAL') ? '' : 'none'}" fxFlex="50">
                <div  class="search-content">
                    <!-- For Serial From -->
                    <ng-container >
                        <div class="onHandTitle">Serial Number :</div>
                        <mat-form-field class="materailFieldSize">
                            <mat-label>From</mat-label>
                      
                            <input type="text" (keyup.enter)="getSearhInfo()" matInput [(ngModel)]="serialNumberFromValue" autocomplete="on">
                        </mat-form-field>
                    </ng-container>
                                  
                </div>
            </div>
            <div [ngStyle]="{'display': (entityType === 'SERIAL') ? '' : 'none'}" fxFlex="50">
                <div  class="search-content">
                    <!-- For Serial To -->
                    <ng-container>
                        <mat-form-field class="materailFieldSize marginT18">
                            <mat-label> To </mat-label>
                            <input type="text" (keyup.enter)="getSearhInfo()" matInput [(ngModel)]="serialNumberToValue" autocomplete="on">
                        </mat-form-field>
                    </ng-container>
              
                </div>
            </div>
        </div>

    </div>
    <div class="search-footer">
        <button mat-flat-button [ngClass]="'formButton saveButton'" (click)="getSearhInfo()">
            Search
        </button>
        <button mat-flat-button [ngClass]="'formButton cancelButton ml-15'" (click)="clearSearchFields()">
            Clear
        </button>
    </div>
</div>