<!-- <div class="content-wrapper"> -->
    <!-- <app-breadcrumb></app-breadcrumb> -->
    <div class="contentBorder">
        <div [ngClass]="'formHeader'" fxLayout="row">
            <div fxFlex fxLayoutAlign="start">
                <span class="formHeaderTitle">Item Assignment to Class :</span>
            </div>
            <div fxLayoutAlign="end">
                         
                <span class="down-arrow" [matMenuTriggerFor]="exportmenu">
                    <button mat-stroke-button class="orangeButtonBorder colorAttribute" color="primary">
                        Export
                    </button>
                </span>
                <mat-menu #exportmenu="matMenu">
                    <button mat-menu-item
                        (click)="exporter.exportTable('xls', {fileName:'Flexi WMS - Item Assignment List'})">XLS</button>
                    <button mat-menu-item
                        (click)="exporter.exportTable('xlsx', {fileName:'Flexi WMS - Item Assignment List'})">XLSX</button>
                    <button mat-menu-item
                        (click)="exporter.exportTable('csv', {fileName:'Flexi WMS - Item Assignment List'})">CSV</button>
                </mat-menu>
            </div>
        </div>
        <div class="roleSearchBox" fxLayout="row" fxLayoutAlign=" center">
            <div class="searchBoxLabel">Class<sup><span class="requiredMark">&#42;</span></sup> :</div>
            <div>
                <mat-select class="searchInput" #model="ngModel" [(ngModel)]="classValue" required>            
                    <mat-option *ngFor="let temp of classLov" [value]="temp.value"
                    (onSelectionChange)="classChanged($event,temp)" >
                        {{temp.label}}
                    </mat-option>
                </mat-select>
            </div>
            <mat-error *ngIf="!model.valid && (model.touched || model.dirty)">Please select the class</mat-error>
        </div>
        <div class="container" fxLayout="column">
            <div [ngClass]="!parameterDataSource.data.length || listProgress
            ? 'customTable ellipsisTable scrollHide'
            : 'customTable ellipsisTable'"
            [ngStyle]="{'max-height': commonService.screenMaxHeight }">             
                    <table mat-table matTableExporter [hiddenColumns]='[4]' #exporter="matTableExporter" [dataSource]="parameterDataSource" matSort class="resize-table" style="min-width: 800px;" 
                    matSortDisableClear  (matSortChange)= "sortChanged($event)">

              
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef [ngClass]="'cursor-auto mat-header-column-'+columns[0].field" >
                                {{ columns[0].name }}
                            </th>
                            <td mat-cell *matCellDef="let element; let i=index"  >
                                <span [ngClass]="'nonEditiableField'">{{ paginator.pageSize * paginator.pageIndex + i + 1 }}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="classId">
                            <th mat-header-cell *matHeaderCellDef   [ngClass]="'mat-header-column-'+columns[1].field" (mousedown)="commonService.onResizeColumn($event, 1, columns, matTableRef)">
                                <span >{{ columns[1].name }} </span>
                            </th>
                            <td mat-cell *matCellDef="let element; let i = index;" >
                                <div *ngIf="element.editing">
                                    <mat-form-field [ngClass]="'inputWidthClass'" >
                                        <mat-select [(ngModel)]="element.classId" name="class" >
                                            <mat-option *ngFor="let item of element.tableClassLov"
                                                [value]="item.value" (onSelectionChange)="inlineClassChanged($event,item,paginator.pageSize * paginator.pageIndex + i)">
                                                {{item.label}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error> Please Select Class</mat-error>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="!element.editing">
                                    <span [ngClass]="'nonEditiableField'" >
                                        {{element.className ? element.className : '-'}}
                                    </span>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="itemName">
                            <th mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-column-'+columns[2].field" (mousedown)="commonService.onResizeColumn($event, 2, columns, matTableRef)">
                                <span [mat-sort-header]="(isAdd || isEdit) ? null : columns[2].field" [disabled]="(isAdd || isEdit)? true : false">{{ columns[2].name }}</span>
                            </th>
                            <td mat-cell *matCellDef="let element; let i=index" >
        
                                <div *ngIf="element.editing">
                                    <div fxLayout="row"  *ngIf="element.inlineSearchLoader === 'hide'">
                                            <div fxFlex="80">
                                                <mat-form-field *ngIf="element.showLov === 'show'" autofocus>
                                                    <mat-select  [(ngModel)]="element.itemId" [ngClass]="''"
                                                    placeholder="Required"   required >
                                                        <mat-option *ngFor="let item of element.itemList" [value]="item.value" 
                                                        (onSelectionChange)="inlineItemChanged($event,item,paginator.pageSize * paginator.pageIndex + i)"  >
                                                            {{ item.label}}
                                                        </mat-option>
                                                   </mat-select>
                                                    <mat-error *ngIf="element.itemId === ''" >Please Enter Item Name</mat-error>
                                                </mat-form-field>
                                                <mat-form-field *ngIf="element.showLov === 'hide'">
                                                    <input matInput
                                                    (keydown)="fetchNewSearchList($event, paginator.pageSize * paginator.pageIndex + i, false, element.searchValue)"
                                                    (blur)="fetchNewSearchList($event, paginator.pageSize * paginator.pageIndex + i, false, element.searchValue)"
                                                    placeholder="Search Item" [(ngModel)]="element.searchValue"  autocomplete="off" required/>
                                                </mat-form-field>
                                            </div>
        
                                            <div fxFlex="20"  >
                                                <div [ngClass]="'pt-15'" >
                                                    <button  class="searchBtn icon-search" matTooltip="Search" [matTooltipPosition]="tooltipPosition"
                                                    (click)="fetchNewSearchList($event, paginator.pageSize * paginator.pageIndex + i, true, element.searchValue)" >
                                                    </button>
                                                </div>
                                            </div>
                                    </div>
                                    <div  fxLayout="row"  *ngIf="element.inlineSearchLoader === 'show'">
                                        <div fxFlex="100">Searching...</div>
                                    </div>
        
        
                                </div>
                                <div *ngIf="!element.editing">
                                    <span [ngClass]="'nonEditiableField'" style="pointer-events: none; " class="maxWidthSelect setWidth">
        
                                            <span >{{element.itemName}}</span>
        
                                    </span>
                                </div>
                            </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="revisionNum">
                            <th mat-header-cell *matHeaderCellDef   [ngClass]="'mat-header-column-'+columns[3].field" 
                            (mousedown)="commonService.onResizeColumn($event, 3, columns, matTableRef)">
                                <span [mat-sort-header]="(isAdd || isEdit) ? null : columns[1].field" [disabled]="(isAdd || isEdit)? true : false">{{ columns[3].name }} </span>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element.editing">
                                    <mat-form-field [ngClass]="'inputMarginClass'">
                                        <mat-select [(ngModel)]="element.revisionId" [disabled]="element.poLineReceiptQty" 
                                        [ngClass]="'pointerEventnone selectArrowHide'">
                                            <mat-option *ngFor="let itemRevision of element.itemAssignRevisionList" [value]="itemRevision.value">
                                                {{itemRevision.label}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="!element.editing">
                                    <span [ngClass]="'nonEditiableField'">
                                        <span >{{element.revisionNum ? element.revisionNum : '-'}}</span>
                                    </span>
                                </div>
                        </ng-container> -->

                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef   [ngClass]="'mat-header-column-'+columns[3].field" (mousedown)="commonService.onResizeColumn($event, 3, columns, matTableRef)">
                                <span [mat-sort-header]="(isAdd || isEdit) ? null : columns[3].field" [disabled]="(isAdd || isEdit)? true : false">{{ columns[3].name }} </span>
                            </th>
                            <td mat-cell *matCellDef="let element; let i = index;" >
                                <div *ngIf="element.editing">
                                    <mat-form-field [ngClass]="'inputMarginClass'">
                                        <input autocomplete="off" matInput [disabled]='true' [(ngModel)]="element.description">
                                    </mat-form-field>
                                </div>
                                <div *ngIf="!element.editing">
                                    <span [ngClass]="'nonEditiableField'">
                                        {{element.description ? element.description : '-'}}
                                    </span>
                                </div>
                            </td>
                        </ng-container>

                   
                        
                        
        
                        <ng-container matColumnDef="action" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef  [ngClass]="'cursor-auto actionColumn mat-header-column-'+columns[4].field">
                                {{ columns[4].name }}
                            </th>
                            <td mat-cell *matCellDef="let element; let i=index" [ngClass]="'actionIcons percent10'">
                                <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center"
                                    style="justify-content: center;">
                                    <span *ngIf="!element.addNewRecord" class="icon-edit"
                                        (click)="beginEdit(element,$event, paginator.pageSize * paginator.pageIndex + i)" matRipple matTooltip="Edit"
                                        [matTooltipPosition]="tooltipPosition" [matRippleColor]="'#098ccd3b'"
                                        [matRippleCentered]="true" [matRippleRadius]="false"></span>
                                    <span *ngIf="!element.addNewRecord && element.editing" [ngClass]="'padding0'">
                                            <span class="icon-clear" (click)="disableEdit(element, paginator.pageSize * paginator.pageIndex + i)" matRipple
                                                matTooltip="Cancel" [matTooltipPosition]="tooltipPosition"
                                                [matRippleColor]="'#098ccd3b'" [matRippleCentered]="true"
                                                [matRippleRadius]="false"></span>
                                    </span>
                                        <!-- <span *ngIf="!element.addNewRecord" class="icon-delete"
                                         matRipple matTooltip="Delete"
                                        (click)= "openDialog(myDialog , element,$event, paginator.pageSize * paginator.pageIndex + i )"
                                        [matTooltipPosition]="tooltipPosition" [matRippleColor]="'#098ccd3b'"
                                        [matRippleCentered]="true" [matRippleRadius]="false"></span> -->
                                    <span *ngIf="element.addNewRecord" [ngClass]="'padding0'">
                                        <span class="icon-clear" (click)="deleteRow(element, i)" matRipple
                                            matTooltip="Delete" [matTooltipPosition]="tooltipPosition"
                                            [matRippleColor]="'#098ccd3b'" [matRippleCentered]="true"
                                            [matRippleRadius]="false"></span>
                                    </span>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="parameterDisplayedColumns; sticky: true"></tr>
                        <tr mat-row [ngClass]="{'highlightRowError': selectedRowIndex == paginator.pageSize * paginator.pageIndex + i}" *matRowDef="let row; let i= index; columns: parameterDisplayedColumns"></tr>
                    </table>
             
                <ng-container *ngIf="listProgress">
                    <mat-spinner [diameter]="40" [ngClass]="'loaderSpinner'"></mat-spinner>
                </ng-container>
                <ng-container *ngIf="!parameterDataSource.data.length && !listProgress">
                    <div [ngClass]="'noDataFound'"><small>{{routingTableMessage}}</small></div>
                </ng-container>
               
            </div>
            <div class="text-align-right pr-10">
                <button mat-stroke-button *ngIf='classValue' class="orangeButtonBorder border-radius-3 colorAttribute marginT5"
                    color="primary" (click)="addRow($event)">
                    Add Row
                </button>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div [ngClass]="(isAdd || isEdit) ? 'formContainer' : ''">
                    <button *ngIf="isSave" mat-flat-button [ngClass]="saveInprogress ? 'saveInprogress formButton saveButton mr10': 'formButton saveButton mr10'" color="primary"
                        (click)="onSubmit('save')">
                        Save
                    </button>
                    <button *ngIf="isEdit && classValue" mat-flat-button [ngClass]="saveInprogress ? 'saveInprogress formButton saveButton mr10': 'formButton saveButton mr10'" color="primary"
                        (click)="onSubmit('update')">
                        Update
                    </button>
                </div>
            <mat-paginator (page)="commonService.setPaginationSize($event)"  showFirstLastButtons
            [ngClass]="'mat-paginator-sticky'">
        </mat-paginator>
            </div>
        </div>
     
    </div>
<!-- </div> -->







<ng-template #myDialog>
   
    <div mat-dialog-container>
        <h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="messageHeaderTitle mat-dialog-title">Confirmation</h2>
        <div mat-dialog-content>
            <p class="pl-7">Are you sure you want to delete this item Assignment?</p>
        </div>
        <div mat-dialog-actions class="padding10">
            <button mat-flat-button color="primary"  class="formButton saveButton ml-15" (click)="deleteItemAssignment()">Yes</button>
            <button mat-flat-button  color="accent" class="formButton cancelButton" matDialogClose>No</button>
        </div>
    </div>
   
</ng-template>






