<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex="100">
    <div fxLayout="column">
        <div class="search-header" fxLayout="row">
            <div class="search-title" fxLayout="column" fxFlex="5 0 0">
                {{ searchLabel }}
            </div>
            <div class="search-header-right" (click)="hideSearchContainer()">
                <span class="searchBarIcon icon-close"></span>
            </div>
        </div>
        
        <div *ngFor="let fieldsInfo of searchFieldData">
            <div *ngIf="fieldsInfo.formType !== 'SERIAL'" fxLayout="column" class="search-content" fxFlex="1 0 0">

                <!-- For PO Status -->
                <ng-container *ngIf="fieldsInfo.lovType === 'serialNum'">
                    <mat-form-field class="materailFieldSize" fxFlex="100">
                        <!-- <mat-label>{{ fieldsInfo.label }}</mat-label>
                        <mat-select *ngIf="fieldsInfo.type == 'LOV'" [(ngModel)]="serialNumValue">
                            <mat-option ngDefaultControl *ngFor="let listItem of fieldsInfo.list"
                                [value]="listItem.value" autocomplete="off">
                                {{ listItem.label }}</mat-option>
                        </mat-select> -->
                        <mat-label>{{ fieldsInfo.label }}</mat-label>
                        <input type="text" matInput (keyup.enter)="getSearhInfo()" [(ngModel)]="serialNumValue" autocomplete="off">
                    </mat-form-field>
                </ng-container>
  <!-- For Serial Status -->
  <ng-container *ngIf="fieldsInfo.lovType === 'serialStatus'" >
    <mat-form-field class="materailFieldSize">
        <mat-label>{{ fieldsInfo.label }}</mat-label>
        <mat-select *ngIf="fieldsInfo.type == 'LOV'" [(ngModel)]="serialStatusValue" >
            <mat-option ngDefaultControl *ngFor="let listItem of serialStatusList" [value]="listItem.value"
                autocomplete="off">
                {{ listItem.label }}</mat-option>
        </mat-select>
    </mat-form-field>
</ng-container>
                <!-- For IU Code -->
               <!-- <ng-container *ngIf="fieldsInfo.lovType === 'IuCode'">
                    <mat-form-field class="materailFieldSize" fxFlex="100">
                        <mat-label>{{ fieldsInfo.label }}</mat-label>
                         <div *ngIf="fieldsInfo.list.length === 1 else loaded">
                            <mat-select *ngIf="fieldsInfo.type == 'LOV'" [(ngModel)]="IuValue" class='text-black-disabled' disabled>
                                <mat-option *ngIf="fieldsInfo.list.length === 1; else loaded" style="font-style: italic;">
                                    Loading... </mat-option>
                            </mat-select>
                        </div>
                        <ng-template #loaded>               
                            <mat-select *ngIf="fieldsInfo.type == 'LOV'" [(ngModel)]="IuValue" class='text-black-disabled' disabled>
                                <mat-option ngDefaultControl *ngFor="let listItem of iuCodeList"
                                    [value]="listItem.value" autocomplete="off">
                                    {{ listItem.label }}</mat-option>
                            </mat-select>
                        </ng-template>
                    </mat-form-field>
                </ng-container> -->
              
                <!-- For ONHAND Item -->
                <ng-container *ngIf="fieldsInfo.lovType === 'itemCode'">
                    <mat-form-field class="materailFieldSize" fxFlex="100">
                        <mat-label>{{ fieldsInfo.label }}</mat-label>
                        <input type="text" matInput (keyup.enter)="getSearhInfo()" [(ngModel)]="itemValue" autocomplete="off">
                    </mat-form-field>
                </ng-container>
        <!-- For Serial Material Status -->
        <ng-container *ngIf="fieldsInfo.lovType === 'serialMaterialStatus'" >
            <mat-form-field class="materailFieldSize">
                <mat-label>{{ fieldsInfo.label }}</mat-label>
                <mat-select *ngIf="fieldsInfo.type == 'LOV'" [(ngModel)]="serialMaterialStatusValue" >
                    <mat-option ngDefaultControl *ngFor="let listItem of materialStatusLovList" [value]="listItem.value"
                        autocomplete="off">
                        {{ listItem.label }}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>
            </div>
        </div>
        
        <div fxLayout="row wrap" class="onhandDivs">
            <div *ngFor="let fieldsInfo of searchFieldData;let i = index" [ngStyle]="{'display': (i < 4 ) ? 'none' : ''}" fxFlex="50">
                <div class="search-content">

                    <!-- For Serial From -->
                    <ng-container *ngIf="fieldsInfo.lovType === 'SerialFrom'">
                        <div class="onHandTitle">Serial Number :</div>
                        <mat-form-field class="materailFieldSize">
                            <mat-label>{{ fieldsInfo.label }}</mat-label>

                            <input type="text" (keyup.enter)="getSearhInfo()" matInput [(ngModel)]="serialFromValue" autocomplete="off">
                        </mat-form-field>
                    </ng-container>
                    
                    <!-- For Serial To -->
                    <ng-container *ngIf="fieldsInfo.lovType === 'SerialTo'">
                        <mat-form-field class="materailFieldSize marginT18">
                            <mat-label>{{ fieldsInfo.label }}</mat-label>
        
                            <input type="text" (keyup.enter)="getSearhInfo()" matInput [(ngModel)]="serialToValue" autocomplete="off">
                        </mat-form-field>
                    </ng-container>

                    
                </div>
            </div>
        </div>

    </div>
    <div class="search-footer">
        <button mat-flat-button [ngClass]="'formButton saveButton'" (click)="getSearhInfo()">
            Search
        </button>
        <button mat-flat-button [ngClass]="'formButton cancelButton ml-15'" (click)="clearSearchFields()">
            Clear
        </button>
    </div>
</div>