<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex="100">
    <div fxLayout="column">
        <div class="search-header" fxLayout="row">
            <div class="search-title" fxLayout="column" fxFlex="5 0 0">
                {{ searchLabel }}
            </div>
            <div class="search-header-right" (click)="hideSearchContainer()">
                <span class="searchBarIcon icon-close"></span>
            </div>
        </div>
        <div
            fxLayout="column"
            class="search-content"
            fxFlex="1 0 0"
            *ngFor="let fieldsInfo of searchFieldData"
        >
            <!-- Only For Stock locator Search criteria Start -->
            <!-- <ng-container *ngIf="fieldsInfo.lovType === 'INVCode'">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <mat-select
                        *ngIf="fieldsInfo.type == 'LOV'"
                        [(ngModel)]="invCodeValue" class='text-black-disabled' disabled
                       
                    >
                        <mat-option
                            ngDefaultControl
                            *ngFor="let listItem of fieldsInfo.list"
                            [value]="listItem.value"
                            autocomplete="off"
                            (onSelectionChange)="IUSelectionChangedinSL($event,listItem.value)"
                        >
                            {{ listItem.label }}</mat-option
                        ></mat-select
                    >
                </mat-form-field>
            </ng-container> -->

            <ng-container *ngIf="fieldsInfo.lovType === 'LocGroupCode'">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <!-- <mat-select
                        *ngIf="fieldsInfo.type == 'LOV'"
                        [(ngModel)]="lgCodeValue"
                    >
                        <mat-option
                            ngDefaultControl
                            *ngFor="let listItem of fieldsInfo.list"
                            [value]="listItem.value"
                            autocomplete="off"
                            (onSelectionChange)="LGCodeSelectionChangedinSL($event,listItem.value)"
                        >
                            {{ listItem.label }}</mat-option
                        ></mat-select
                    > -->
                    <input type="text" (keyup.enter)="getSearhInfo()" matInput [(ngModel)]="lgCodeValue" autocomplete="off">
                </mat-form-field>
            </ng-container>

            <ng-container *ngIf="fieldsInfo.lovType === 'lgMaterialStatus'">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <mat-select
                        *ngIf="fieldsInfo.type == 'LOV'"
                        [(ngModel)]="lgMaterialStatusValue"
                    >
                        <mat-option
                            ngDefaultControl
                            *ngFor="let listItem of materialStatusLovList"
                            [value]="listItem.value"
                            autocomplete="off"
                        >
                            {{ listItem.label }}</mat-option
                        ></mat-select
                    >
                </mat-form-field>
            </ng-container>

            <ng-container *ngIf="fieldsInfo.lovType === 'slName'">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <input type="text" (keyup.enter)="getSearhInfo()" matInput [(ngModel)]="slNameValue" autocomplete="off">
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="fieldsInfo.lovType === 'slMaterialStatus'">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <mat-select
                        *ngIf="fieldsInfo.type == 'LOV'"
                        [(ngModel)]="slMaterialStatusValue"
                    >
                        <mat-option
                            ngDefaultControl
                            *ngFor="let listItem of materialStatusLovList"
                            [value]="listItem.value"
                            autocomplete="off"
                        >
                            {{ listItem.label }}</mat-option
                        ></mat-select
                    >
                </mat-form-field>
            </ng-container>
            <!-- Only For Stock locator Search criteria End -->
            <ng-container
                *ngIf="
                    fieldsInfo.lovType === 'code' ||
                    fieldsInfo.lovType === 'name'
                "
            >
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <!-- <input type="text" matInput [(ngModel)]="codeValue" autocomplete="off"> -->
                    <mat-select
                        *ngIf="fieldsInfo.type == 'LOV'"
                        [(ngModel)]="codeValue"
                        (selectionChange)="
                            getDependentList(
                                $event,
                                codeValue,
                                fieldsInfo.lovType
                            )
                        "
                    >
                        <mat-option
                            ngDefaultControl
                            *ngFor="let listItem of fieldsInfo.list"
                            [value]="listItem.value"
                            autocomplete="off"
                        >
                            {{ listItem.label }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </ng-container>
             <!-- FOr IU and Locator Group LOV-->
            <!-- For On Selection LOV -->
            <ng-container *ngIf="fieldsInfo.lovType === 'iuOUCode'">
                <mat-form-field class="materailFieldSize">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <mat-select *ngIf="fieldsInfo.type == 'selectionChangeLOV'" [(ngModel)]="ouValue">
                        <mat-option ngDefaultControl *ngFor="let listItem of fieldsInfo.list" [value]="listItem.value"
                            (onSelectionChange)="OuSelectionChanged($event,listItem.value)" autocomplete="off">
                            {{ listItem.label }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <!-- <ng-container *ngIf="fieldsInfo.lovType === 'iuCode'">
                <mat-form-field class="materailFieldSize">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <mat-select *ngIf="fieldsInfo.type == 'selectionChangeLOV'" [(ngModel)]="iuValue" disabled class='text-black-disabled'>
                        <mat-option ngDefaultControl *ngFor="let listItem of fieldsInfo.list" [value]="listItem.value"
                            (onSelectionChange)="OuSelectionChanged($event,listItem.value)" autocomplete="off">
                            {{ listItem.label }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container> -->
            <ng-container *ngIf="fieldsInfo.lovType === 'lgCode'">
            </ng-container>
            <ng-container
                *ngIf="
                    fieldsInfo.lovType === 'iuAndLgCode' ||
                    fieldsInfo.lovType === 'iuAndLgName'
                "
            >
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <mat-select
                        *ngIf="fieldsInfo.type == 'LOV'"
                        [(ngModel)]="codeValue"
                        (selectionChange)="
                            getDependentList(
                                $event,
                                codeValue,
                                fieldsInfo.lovType
                            )
                        "
                    >
                        <mat-option
                            ngDefaultControl
                            *ngFor="let listItem of fieldsInfo.list"
                            [value]="listItem.value"
                            autocomplete="off"
                        >
                            {{ listItem.label }}</mat-option
                        >
                    </mat-select>
                    <!-- <input type="text" matInput [(ngModel)]="codeValue" autocomplete="off"> -->
                </mat-form-field>
            </ng-container>

            <ng-container *ngIf="
                    fieldsInfo.lovType === 'customer' && is3plCompany
                ">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <input type="text" (keyup.enter)="getSearhInfo()" matInput [(ngModel)]="customerValue" autocomplete="off">
                </mat-form-field>
            </ng-container>
            
            <ng-container *ngIf="fieldsInfo.lovType === 'enableFlag'">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <mat-select
                        *ngIf="fieldsInfo.type == 'LOV'"
                        [(ngModel)]="enableValue"
                    >
                        <mat-option
                            ngDefaultControl
                            *ngFor="let listItem of fieldsInfo.list"
                            [value]="listItem.value"
                            autocomplete="off"
                        >
                            {{ listItem.label }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="fieldsInfo.lovType === 'activityBillingFlag'">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <mat-select
                        *ngIf="fieldsInfo.type == 'LOV'"
                        [(ngModel)]="activityBillingFlag"
                    >
                        <mat-option
                            ngDefaultControl
                            *ngFor="let listItem of fieldsInfo.list"
                            [value]="listItem.value"
                            autocomplete="off"
                        >
                            {{ listItem.label }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="fieldsInfo.lovType === 'ymsFlag'">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <mat-select
                        *ngIf="fieldsInfo.type == 'LOV'"
                        [(ngModel)]="ymsFlag"
                    >
                        <mat-option
                            ngDefaultControl
                            *ngFor="let listItem of fieldsInfo.list"
                            [value]="listItem.value"
                            autocomplete="off"
                        >
                            {{ listItem.label }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="fieldsInfo.lovType === 'expressLabelFlag'">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <mat-select
                        *ngIf="fieldsInfo.type == 'LOV'"
                        [(ngModel)]="expressLabelFlag"
                    >
                        <mat-option
                            ngDefaultControl
                            *ngFor="let listItem of fieldsInfo.list"
                            [value]="listItem.value"
                            autocomplete="off"
                        >
                            {{ listItem.label }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="fieldsInfo.lovType === 'mfgFlag' ">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <mat-select
                        *ngIf="fieldsInfo.type == 'LOV'"
                        [(ngModel)]="mfgFlag"
                    >
                        <mat-option
                            ngDefaultControl
                            *ngFor="let listItem of fieldsInfo.list"
                            [value]="listItem.value"
                            autocomplete="off"
                        >
                            {{ listItem.label }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="fieldsInfo.lovType === 'enableFlag2'">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <mat-select
                        *ngIf="fieldsInfo.type == 'LOV'"
                        [(ngModel)]="enableValue2"
                    >
                        <mat-option
                            ngDefaultControl
                            *ngFor="let listItem of fieldsInfo.list"
                            [value]="listItem.value"
                            autocomplete="off"
                        >
                            {{ listItem.label }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </ng-container>

            <ng-container *ngIf="fieldsInfo.lovType === 'uomClass'">
                <mat-form-field class="materailFieldSize" fxFlex="100">
                    <mat-label>{{ fieldsInfo.label }}</mat-label>
                    <mat-select
                        *ngIf="fieldsInfo.type == 'LOV'"
                        [(ngModel)]="classValue"
                    >
                        <mat-option
                            ngDefaultControl
                            *ngFor="let listItem of fieldsInfo.list"
                            [value]="listItem.value"
                            autocomplete="off"
                        >
                            {{ listItem.label }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </ng-container>
        </div>
    </div>
    <div class="search-footer">
        <button
            mat-flat-button
            [ngClass]="'formButton saveButton'"
            (click)="getSearhInfo()"
        >
            Search
        </button>
        <button
            mat-flat-button
            [ngClass]="'formButton cancelButton ml-15'"
            (click)="clearSearchFields()"
        >
            Clear
        </button>
    </div>
</div>
