<div fxFlex="100" class="contentBorder marginT15">
    <div [ngClass]="'formHeader'" fxLayout="row">
        <div fxFlex fxLayoutAlign="start">
            <span class="formHeaderTitle">{{ formTitle }} </span>
        </div>
        <div fxLayoutAlign="end">
            <button mat-stroke-button class="orangeButtonBorder colorAttribute" color="primary">
                Attribute
            </button>
        </div>
    </div>

    <div fxLayout="row">
        <mat-divider fxFlex="100"></mat-divider>
    </div>

    <div class="formContainer" fxLayout="column">
        <form #printForm="ngForm" id="ngForm" [formGroup]="manualPrintForm" autocomplete="off"
            (ngSubmit)="onSubmit($event, printForm)">
            <div class="container" fxLayout="column">
                <div fxLayout="row" fxLayoutGap="20px">
                    <mat-form-field class="materailFieldSize" fxFlex="25">
                        <mat-select formControlName="label" [disabled]="isEdit" [ngClass]="isEdit ? 'pointerEventnone selectArrowHide':''"
                            placeholder="Label ID" required (blur)="manualPrintLogValidationErrors()">
                            <mat-option *ngFor="let element of labelList" [value]="element.value"
                                (onSelectionChange)="labelSelectionChanged($event,element.value)">
                                {{element.label}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="manualPrintFormErrors.label">{{manualPrintFormErrors.label}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="materailFieldSize" fxFlex="25">
                        <mat-select formControlName="type" [disabled]="isEdit"
                            [ngClass]="isEdit ? 'pointerEventnone selectArrowHide':''" placeholder="Type"
                            >
                            <mat-option *ngFor="let element of typeList" [value]="element.value"
                                >
                                {{element.label}}</mat-option>
                        </mat-select>

                    </mat-form-field>
                    <mat-form-field class="materailFieldSize" fxFlex="25">
                        <mat-select formControlName="printer" [disabled]="isEdit"
                            [ngClass]="isEdit ? 'pointerEventnone selectArrowHide':''" placeholder="Printer ID"
                            (blur)="manualPrintLogValidationErrors()">
                            <mat-option *ngFor="let element of printerList" [value]="element.value">
                                {{element.label}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="manualPrintFormErrors.printer">{{manualPrintFormErrors.printer}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="materailFieldSize" fxFlex="25">
                        <input matInput placeholder="Copies" type="number" formControlName="copies" min="1" (blur)="manualPrintLogValidationErrors()"/>
                        <mat-error *ngIf="manualPrintFormErrors.copies">{{manualPrintFormErrors.copies}}</mat-error>
                    </mat-form-field>
                
                </div>
            </div>
        </form>


        <div [id]="'customTable'" [ngClass]="'customTable ellipsisTable'"
            [ngStyle]="{'min-width': 'auto', 'max-height': '240px'}">
            <table mat-table [dataSource]="soLineDataSource" matSort class="resize-table" style="min-width: 1000px;" matSortDisableClear>
     
                <ng-container matColumnDef="parameter">
                    <th mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-column-'+columns[0].field"
                        (mousedown)="commonService.onResizeColumn($event, 0, columns, matTableRef)">
                        <span [mat-sort-header]="(isAdd || isEdit) ? null : columns[0].field" [disabled]="(isAdd || isEdit)? true : false">{{ columns[0].name }}</span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.editing">
                            <mat-form-field [ngClass]="'inputMarginClass'">
                                <input matInput disabled [(ngModel)]="element.parameter" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <span *ngIf="!element.editing">
                            {{element.parameter ? element.parameter : '-'}}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-column-'+columns[1].field"
                        (mousedown)="commonService.onResizeColumn($event, 1, columns, matTableRef)">
                        <span [mat-sort-header]="(isAdd || isEdit) ? null : columns[1].field" [disabled]="(isAdd || isEdit)? true : false">{{ columns[1].name }}</span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.editing">
                            <mat-form-field [ngClass]="'inputMarginClass'">
                                <input matInput  [(ngModel)]="element.value"
                                     autocomplete="off">
                            </mat-form-field>
                        </div>
                        <span *ngIf="!element.editing">{{element.value  ? element.value : '-'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef
                        [ngClass]="'cursor-auto actionColumn mat-header-column-'+columns[2].field">
                        {{ columns[2].name }}
                    </th>
                    <td mat-cell *matCellDef="let element; let i=index" [ngClass]="'actionIcons'">
                        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                            <span *ngIf="!element.addNewRecord && element.isDefault" class="icon-edit"
                                (click)="beginEdit(element, $event)" matRipple matTooltip="Edit"
                                [matTooltipPosition]="tooltipPosition" [matRippleColor]="'#098ccd3b'"
                                [matRippleCentered]="true" [matRippleRadius]="false"></span>
                            <span *ngIf="!element.addNewRecord && element.editing" [ngClass]="'padding0'">
                                <span class="icon-clear"
                                    (click)="disableEdit(element,i)"
                                    matRipple matTooltip="Cancel" [matTooltipPosition]="tooltipPosition"
                                    [matRippleColor]="'#098ccd3b'" [matRippleCentered]="true"
                                    [matRippleRadius]="false"></span>
                            </span>
                            <span *ngIf="element.addNewRecord && !element.isDefault " [ngClass]="'padding0'">
                                <span class="icon-clear" (click)="deleteRow(element, i)" matRipple matTooltip="Cancel"
                                    [matTooltipPosition]="tooltipPosition" [matRippleColor]="'#098ccd3b'"
                                    [matRippleCentered]="true" [matRippleRadius]="false"></span>
                            </span>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="soLineDisplayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: soLineDisplayedColumns;"></tr>
            </table>

            <ng-container *ngIf="listProgress">
                <mat-spinner [diameter]="40" [ngClass]="'loaderSpinner'"></mat-spinner>
            </ng-container>
            <ng-container *ngIf="
                                    !soLineDataSource.data.length
                                ">
                <div [ngClass]="'noDataFound'"><small>{{labelMessage}}</small></div>
            </ng-container>
        </div>
        <!-- <div class="text-align-right">
            <button mat-stroke-button class="orangeButtonBorder border-radius-3 colorAttribute marginT5" color="primary"
                (click)="addRow()" matTooltip="Add Row">
                Add Row
            </button>
        </div> -->

        <div fxLayout="row" [ngClass]="'mt10'" fxLayoutAlign="space-between center">
            <div>
                <!-- <button *ngIf="!isEdit" mat-flat-button -->
                <button  mat-flat-button
                    [ngClass]="'formButton saveButton mr10'"
                    (click)="printForm.ngSubmit.emit()" form="ngForm">
                    Print
                </button>
                <!-- <button *ngIf="!isEdit" mat-flat-button -->
                <button   mat-flat-button
                    [ngClass]="'formButton saveButton mr10'"
                    (click)="onSubmit($event, 'Preview')"
                    [disabled]='disablePreviewBtn'>
                    Preview
                </button>
                <!-- <button mat-flat-button [ngClass]="'formButton saveButton mr10'"
                    (click)="commonService.openConfirmationDialog('sales order','salesorders')">
                    Cancel
                </button> -->
            </div>
            <!-- <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons
                [ngClass]="'mat-paginator-sticky'">
            </mat-paginator> -->
        </div>
    </div>
</div>