.formHeader {
    padding: 10px 20px;
}
.formHeaderTitle {
    font-weight: 500;
}
.customTable{
    overflow: hidden;
}
::ng-deep .mat-column-No{
    min-width: 50px;
}
::ng-deep .mat-column-poIuId{
    min-width: 100px;
}

::ng-deep .inputMarginClass {
    margin-right: 10px;
}

::ng-deep .selectArrowHide.mat-select .mat-select-arrow {
    color: #fff !important;
}
.customWidth80 {
    position: relative;
}

.mat-form-field-type-mat-native-select.mat-form-field-disabled
    .mat-form-field-infix::after,
.mat-input-element:disabled,::ng-deep .mat-select-disabled .mat-select-value, .inputDisable {
    color: #000000 !important;
}
span.mat-error{
    position: absolute;
    font-size: 12px;
    bottom: -15px;
}
.mat-header-row{
    background: #f2f2f4;
}