.formHeader {
    padding: 10px 20px;
}
.formHeaderTitle {
    font-weight: 500;
}
.mat-header-cell {
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-itemName {
    width: 100px;
}
.mat-column-itemId {
    width: 50px;
}
.mat-column-itemDescription {
    width: 200px;
}
.custom-file-input {
    font-weight: normal;
    font-family: inherit;
    background: #f2f2f4;
    position: relative;
    min-height: 135px;
    border: dashed 2px #d9d9d9;
    color: transparent;
    width: 100%;
}

.customTable {
    overflow-x: auto;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
    padding-left: 30px;
    font-weight: 500;
    color: rgb(88, 88, 88);
}
.custom-file-input::before,
.custom-file-input::after {
    display: block;
    color: #676666;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -15px;
    bottom: 0;
    height: 25px;
}
.custom-file-input::before {
    font-family: 'icomoon';
    content: '\e928';
    font-size: 20px;
}

.custom-file-input::after {
    content: 'Choose on image or drag it here.';
    top: 25px;
}

.custom-file-input:hover::before {
    border-color: rgb(168, 163, 163);
}
.custom-file-input:active {
    outline: 0;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.item-head {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}
.item-dimensions {
    position: relative;
}
.item-dimensions:after {
    display: inline-block;
    content: 'CM';
    position: absolute;
    top: 18px;
    right: 0px;
    font-size: 14px;
    font-weight: bold;
}

span.thumb150 {
  border: 2px solid #ccc;
}
span.thumb150 img {
    max-width: 100%;
    height: 140px;
    max-height: 140px;
}

.item-default-box {
  border: 2px solid #ccc !important;
  background: #f4f4f4;
  border: 1px solid #ccc;
  padding: 90px 0 !important;
  text-align: center;
}

::ng-deep .viewDialogDataTitle.mat-checkbox-disabled .mat-checkbox-label {
    color: gray !important;
}
/* .mat-column-itemDescription .nonEditiableField {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
} */
.disableField, ::ng-deep .disableField .mat-select-value{
    pointer-events: none;
    color: #000000;
}
 ::ng-deep .disableField .mat-form-field-underline{
        /* background-image: linear-gradient(to right,rgba(0,0,0,.42) 0,rgba(0,0,0,.42) 33%,transparent 0);
    background-size: 4px 100%;
    background-repeat: repeat-x;
    height: 1px;
    position: absolute;
    width: 100%;
    pointer-events: none;
    transform: scaleY(1.0001);
        bottom: 1.25em; */
        background-position: 0;
    background-color: transparent;
    background-image: linear-gradient(to right,rgba(0,0,0,.42) 0,rgba(0,0,0,.42) 33%,transparent 0);
    background-size: 4px 100%;
    background-repeat: repeat-x;
}
.width245{
    width:245px;
}
.mat-column-itemDescription{
    padding-left: 15px;
}
.mat-column-itemDescription .nonEditiableField{
    overflow: hidden;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 20px;
}

.scrollHide {
    overflow-x: auto;
}


.setWith5Percent{
    min-width: 50px;
}

.setWith10Percent{
    min-width: 100px;
}

.marginforLogo {
  margin-top: 10px;
  border: dashed 2px #d9d9d9;;
  padding: 5px;
  position: relative;
}

.editImageIcon {
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.enableImageChangeOption {
  display: none;
  background-color: rgba(0, 0, 0, 0.62);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.marginforLogo:hover{
  color: #676666;
  cursor: pointer;
}

.marginforLogo:hover .enableImageChangeOption{
  display: block;
}

.full-container-img {
  width: 100%;
  height: 100%;
}

.setWith20Percent{
    min-width: 200px;
}

.thumb150:hover {
  color: #676666;
  cursor: pointer;
}

.showFullImageOption{
  display: none;
  background-color: rgba(0, 0, 0, 0.62);
  position: absolute;
  width: 14%;
  height: 144px;
}

.thumb150:hover .showFullImageOption{
  display: block;
}

.divBorder{
    height: 103px;
    border:1px solid #a19e9e;
    border-radius: 3px 3px 3px 3px;

}

.divBorder h1{
    min-width: 30px;
    margin-top:-10px;
    margin-left:20px;
    margin-right:20px;
    padding-left: 20px;
    padding-right: 20px;
    background:white;
    font-size: 14px;
    color: #098ccd;
    position: absolute;
}
.pa10{
    padding: 10px;
}

.setImageHeight{
    height: 195px;
    margin-top: 15px;
}

.mat-form-field-type-mat-native-select.mat-form-field-disabled
    .mat-form-field-infix::after,
.mat-input-element:disabled {
    color: #000000;

}
.viewDialogDataTitle {
    font-size: 11px;
    color: #1a71b1;
}

.divBorder1{
    height: 90px;
    border:1px solid #a19e9e;
    border-radius: 3px 3px 3px 3px;
    position: relative;
}

.divBorder1 h1{
    min-width: 30px;
    margin-top:-10px;
    margin-left:20px;
    margin-right:20px;
    padding-left: 20px;
    padding-right: 20px;
    background:white;
    font-size: 14px;
    color: #098ccd;
    position: absolute;
}
.disableField .mat-input-element {
    color: #000000;
}

.actionIcons1 span {
    width: 30px;
    height: 30px;
    padding: 8px 9px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0px 0px !important;
    box-sizing: border-box;
    font-size: 18px;
    padding: 0px 4px;
    color: #9e9797;
    user-select: none;
  }
  .actionIcons1 span:hover,
  .editIconEnable {
      color: #52abda !important;
      cursor: pointer;
  }
  .actionIcons1 span .material-icons {
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .actionIcons1 span {
    font-size: 16px;
    padding: 0px 4px;
    color: #9e9797;
  }
  
  .actionIcons1 {
      min-width: 80px !important;
      padding-left: 10px !important;
      /* text-align: center !important; */
      padding-right: 0px !important;
  }
  
  .actionColumn1{
    min-width: 80px !important;
    padding-left: 10px !important;
    padding-right: 0px !important;
  }