<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex="100">
    <div fxLayout="column">
        <div class="search-header" fxLayout="row">
            <div class="search-title" fxLayout="column" fxFlex="5 0 0">
                {{ searchLabel }}
            </div>
            <div class="search-header-right" (click)="hideSearchContainer()">
                <span class="searchBarIcon icon-close"></span>
            </div>
        </div>
        
        <div *ngFor="let fieldsInfo of searchFieldData">
            <div fxLayout="column" class="search-content" fxFlex="1 0 0">
               <ng-container *ngIf="fieldsInfo.lovType === 'transactionType'">
                    <mat-form-field class="materailFieldSize" fxFlex="100">
                        <mat-label>{{ fieldsInfo.label }}</mat-label>
                        <mat-select *ngIf="fieldsInfo.type == 'LOV'" [(ngModel)]="transactionType">
                            <mat-option ngDefaultControl *ngFor="let listItem of transactionTypeList" [value]="listItem.value"
                            (onSelectionChange)="transactionTypeListChanged($event, listItem.value )"autocomplete="off">
                                {{ listItem.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>

                <ng-container *ngIf="fieldsInfo.lovType === 'subActivities'">
                    <mat-form-field class="materailFieldSize" fxFlex="100">
                        <mat-label>{{ fieldsInfo.label }}</mat-label>
                        <mat-select *ngIf="fieldsInfo.type == 'LOV'" [(ngModel)]="subActivities">
                            <mat-option ngDefaultControl *ngFor="let listItem of subActivitiesList" [value]="listItem.value"
                                autocomplete="off">
                                {{ listItem.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <ng-container *ngIf="fieldsInfo.lovType === 'activityName'">
                    <mat-form-field class="materailFieldSize" fxFlex="100">
                        <mat-label>{{ fieldsInfo.label }}</mat-label>
                        <input type="text" (keyup.enter)="getSearhInfo()" matInput [(ngModel)]="activityName" autocomplete="off">
                    </mat-form-field>
                </ng-container>
                <ng-container *ngIf="fieldsInfo.lovType === 'activityCode'">
                    <mat-form-field class="materailFieldSize" fxFlex="100">
                        <mat-label>{{ fieldsInfo.label }}</mat-label>
                        <input type="text" (keyup.enter)="getSearhInfo()" matInput [(ngModel)]="activityCode" autocomplete="off">
                    </mat-form-field>
                </ng-container>
                <ng-container *ngIf="fieldsInfo.lovType === 'enableFlag'">
                    <mat-form-field class="materailFieldSize" fxFlex="100">
                        <mat-label>{{ fieldsInfo.label }}</mat-label>
                        <mat-select *ngIf="fieldsInfo.type == 'LOV'" [(ngModel)]="enableValue" >
                            <mat-option ngDefaultControl *ngFor="let listItem of fieldsInfo.list" [value]="listItem.value" autocomplete="off" >
                                {{ listItem.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>

            </div>
        </div>
        


    </div>
    <div class="search-footer">
        <button mat-flat-button [ngClass]="'formButton saveButton'" (click)="getSearhInfo()">
            Search
        </button>
        <button mat-flat-button [ngClass]="'formButton cancelButton ml-15'" (click)="clearSearchFields()">
            Clear
        </button>
    </div>
</div>