<h1 class="viewDialogHeader" mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <mat-toolbar role="toolbar" class="task-header">
        <span class="viewDialogTitle"> Trading Partner</span>
        <span class="fx-spacer"></span>
        <button mat-icon-button (click)="onCloseClick()">
            <mat-icon class="viewDialogCloseIcon" mat-list-icon>close</mat-icon>
        </button>
    </mat-toolbar>

</h1>
<div mat-dialog-content>
    <div class="container" fxLayout="column">
        <div [ngClass]="'mb15'" fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="25">
                <span [ngClass]="'viewDialogDataTitle'">Type</span>
                <span [ngClass]="'viwDialogData'">{{data.tpTypeValue}}</span>
            </div>
            <div fxLayout="column" fxFlex="25">
                <span [ngClass]="'viewDialogDataTitle'">Name</span>
                <span [ngClass]="'viwDialogData'">{{data.tpName}}</span>
            </div>
            <div fxLayout="column" fxFlex="25">
                <span [ngClass]="'viewDialogDataTitle'">Code</span>
                <span [ngClass]="'viwDialogData'">{{data.tpCode}}</span>
            </div>
            <div fxLayout="column" fxFlex="25">
                <mat-checkbox class="materailFieldSize" fxFlex="25" style="margin-top: 10px"
                    [(ngModel)]="data.tpEnabledFlag" disabled>
                    Enabled Flag</mat-checkbox>
            </div>
        </div>
        <div [ngClass]="'mb15'" fxLayout="row" fxLayoutGap="20px">
            <div fxFlex="50" fxLayoutGap="20px">
                <div fxLayout="column" fxFlex="100">
                    <span [ngClass]="'viewDialogDataTitle'">Description</span>
                    <span [ngClass]="'viwDialogData'">{{data.tpDescription}}</span>
                </div>
            </div>
            <div fxFlex="50" fxLayoutGap="20px">
                <div fxLayout="column" fxFlex="100">
                    <span [ngClass]="'viewDialogDataTitle'">Address 1</span>
                    <span [ngClass]="'viwDialogData'">{{data.tpAddress1 ? data.tpAddress1: '-'}}</span>
                </div>
            </div>
        </div>
        <div [ngClass]="'mb15'" fxLayout="row" fxLayoutGap="20px">
            <div fxFlex="50" fxLayoutGap="20px">
                <div fxLayout="column" fxFlex="50">
                    <span [ngClass]="'viewDialogDataTitle'">Address 2</span>
                    <span [ngClass]="'viwDialogData'">{{data.tpAddress2 ? data.tpAddress2: '-'}}</span>
                </div>
                <div fxLayout="column" fxFlex="50">
                    <span [ngClass]="'viewDialogDataTitle'">Address 3</span>
                    <span [ngClass]="'viwDialogData'">{{data.tpAddress3? data.tpAddress3: '-'}}</span>
                </div>
            </div>
            <div fxFlex="50" fxLayoutGap="20px">
                <div fxLayout="column" fxFlex="100">
                    <span [ngClass]="'viewDialogDataTitle'">Phone Number</span>
                    <span [ngClass]="'viwDialogData'">{{data.tpPhone}}</span>
                </div>
            </div>

        </div>
        <div [ngClass]="'mb15'" fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="25">
                <span [ngClass]="'viewDialogDataTitle'">Country</span>
                <span [ngClass]="'viwDialogData'">{{data.tpCountry}}</span>
            </div>
            <div fxLayout="column" fxFlex="25">
                <span [ngClass]="'viewDialogDataTitle'">State/County</span>
                <span [ngClass]="'viwDialogData'">{{data.tpStateCounty}}</span>
            </div>
            <div fxLayout="column" fxFlex="25">
                <span [ngClass]="'viewDialogDataTitle'">City</span>
                <span [ngClass]="'viwDialogData'">{{data.tpCity}}</span>
            </div>
            <div fxLayout="column" fxFlex="25">
                <span [ngClass]="'viewDialogDataTitle'">Postal Code</span>
                <span [ngClass]="'viwDialogData'">{{data.tpPincode}}</span>
            </div>

        </div>
        <div [ngClass]="'marginT15'" fxLayout="row" fxLayoutGap="5px">
            <div fxFlex="100" [ngClass]="'viewDialogLabelBar'">
                <mat-label [ngClass]="'viewDialogLabel'">Contact Person :</mat-label>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxFlex="50" fxLayoutGap="20px">
                <div fxLayout="column" fxFlex="50">
                    <span [ngClass]="'viewDialogDataTitle'">Person Name</span>
                    <span [ngClass]="'viwDialogData'">{{data.tpPersonName}}</span>
                </div>
                <div fxLayout="column" fxFlex="50">
                    <span [ngClass]="'viewDialogDataTitle'">Phone Number</span>
                    <span [ngClass]="'viwDialogData'">{{data.tpPersonPhoneNum}}</span>
                </div>
            </div>
            <div fxFlex="50" fxLayoutGap="20px">
                <div fxLayout="column" fxFlex="50">
                    <span [ngClass]="'viewDialogDataTitle'">Email Address</span>
                    <span [ngClass]="'viwDialogData'">{{data.tpPersonEmail}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-flat-button [ngClass]="'formButton saveButton'" color="primary" [mat-dialog-close]="data.tpId"
        cdkFocusInitial>Edit</button>
</div>