.formHeader {
    padding: 7px 10px;
    border-bottom: 1px solid #ccc;
}
.top-688  {
    top: 68px !important;
}
.mat-column-poId{
    width:50px;
    padding-right:10px;
}
.mat-column-poStatus, .mat-column-ouCode, .mat-column-poCurrencyCode, .mat-column-poAmount{
    width: 70px;
    padding-right:10px;
}
.mat-column-poNumber, .mat-column-poType, .mat-column-supplierSiteName{
    width: 100px;
    padding-right:10px;
}
.mat-column-poNoteToSupplier{
    width: 150px;
    padding-right:10px;
}
.mat-column-poDescription, .mat-column-supplierName{
    width: 250px;
    padding-right:10px;
}
.screenTitle, .content .contentTitle{
    font-weight: bold;
    font-size: 14px;
    margin-bottom:10px;
}
.content-wrapper1 {
    padding: 0px;
    /* width:  76.5% ; */
}
.searchRight {
    position: fixed;
    right: 5px;
}
.content{
    border:1px solid #ccc;
    border-radius: 3px;
    padding:10px;
}
.content .mat-checkbox{
    margin-bottom:10px;
}
.searchBoxLabel{
    font-size:13px;
}
.no-screen-found{
    font-size:11px;
    padding-bottom:10px;
}
.viewActionFooter{
    padding: 5px 15px !important;
    border-top: 1px solid #ccc;
}
.pb-24{
    padding-bottom: 24px !important;
}

.customTable {
    /* overflow: auto; */
    overflow-x: auto;
}
.customWidth100 {
    min-width: 110px;
}
.minimumWidth{
    min-width: 40px;
}
.customWidth80{
    min-width: 80px;
}
.scrollHide {
    overflow-y: hidden;
}
::ng-deep .selectArrowHide.mat-select .mat-select-arrow {
    color: #fff !important;
}

.actionIcons1 span {
  width: 30px;
  height: 30px;
  padding: 8px 9px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0px 0px !important;
  box-sizing: border-box;
  font-size: 18px;
  padding: 0px 4px;
  color: #9e9797;
  user-select: none;
}
.actionIcons1 span:hover,
.editIconEnable {
    color: #52abda !important;
    cursor: pointer;
}
.actionIcons1 span .material-icons {
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.actionIcons1 span {
  font-size: 16px;
  padding: 0px 4px;
  color: #9e9797;
}

.actionIcons1 {
    min-width: 80px !important;
    padding-left: 5px !important;
    /* text-align: center !important; */
    padding-right: 0px !important;
}

.actionColumn1{
  min-width: 80px !important;
  padding-left: 10px !important;
  padding-right: 0px !important;
}
/* .rmaDialogTable{
    overflow: hidden;
} */