<div class="breadcrumbs">
    <ul class="breadcrumbUl">
        <!-- <li><a href="javascript:;" (click)="goToDashboard()">Dashboard > </a></li> -->
        <li><app-ng7-dynamic-breadcrumb
            [style.padding]="breadcrumbConfig['padding']"
            [bgColor]="breadcrumbConfig['bgColor']"
            [fontSize]="breadcrumbConfig['fontSize']"
            [fontColor]="breadcrumbConfig['fontColor']"
            [lastLinkColor]="breadcrumbConfig['lastLinkColor']"
            [symbol]="breadcrumbConfig['symbol']">
        </app-ng7-dynamic-breadcrumb></li>
    </ul>
</div>
