.formHeader {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
.formHeaderTitle {
    font-weight: 500;
}

.customTable {
    overflow-x: auto;
}
.content-wrapper1 {
    padding: 0px;
}
.searchRight {
    position: fixed;
    right: 5px;
}

.customDescriptionField {
    margin-right: 10px;
}

.nonEditiableDesField {
    display: inline-block;
    width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    padding-top: 7px;
    color: #5b5b5b;
}

.inputWidthClass {
    margin-right: 10px;
}
.locCodeField {
    margin-right: 10px;
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}

.scrollHide {
    overflow-x: auto;
}


.dateField {
    margin-right: 10px;
}
.inputMarginClass {
    margin-right: 10px;
}

::ng-deep .selectArrowHide.mat-select .mat-select-arrow {
    color: #fff;
}


::ng-deep .selectArrowHide.mat-select.mat-select-disabled .mat-select-arrow {
    color: #fff;
}

th.mat-header-cell, td.mat-cell{
    padding-right:10px;
}
th.mat-header-cell:last-child{
    padding-right:0;
}