<!-- <div [ngClass]="searchEnable ? 'sideContent' : ''"> -->
<div class="contentBorder marginT15">
    <div [ngClass]="'formHeader'" fxLayout="row">
        <div fxFlex fxLayoutAlign="start">
            <span class="formHeaderTitle"> Rule :</span>
        </div>
        <div fxLayoutAlign="end">
            <!-- <button *ngIf="!searchEnable" mat-mini-fab class="btn-search-bg mr10" (click)="searchForPrinterManager()"
                    matTooltip="Search">
                    <span class="headerIcon icon-search"></span>
                </button> -->
            <button mat-stroke-button class="orangeButtonBorder colorOperatingUnit" color="primary"
                (click)="goFor('add')">
                Add Rule
            </button>
        </div>
    </div>
    <div [ngClass]="!parameterDataSource.data.length || listProgress ? 'customTable ellipsisTable scrollHide' : 'customTable ellipsisTable'"
        [ngStyle]="{ 'min-width': 'auto', 'max-height': screenMaxHeight }">
        <table mat-table [dataSource]="parameterDataSource" matSort class="resize-table" matSortDisableClear>
            <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef [ngClass]="'cursor-auto mat-header-column-'+columns[0].field">
                    {{ columns[0].name }}
                </th>
                <td mat-cell *matCellDef="let element; let i=index">
                    <span [ngClass]="'nonEditiableField'">{{ paginator.pageSize * paginator.pageIndex + i + 1 }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-column-'+columns[1].field"
                    (mousedown)="commonService.onResizeColumn($event, 1, columns, matTableRef)">
                    <span mat-sort-header>{{ columns[1].name }}</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    <span [ngClass]="'nonEditiableField'">{{element.id ? element.id : '-'}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-column-'+columns[2].field"
                    (mousedown)="commonService.onResizeColumn($event, 2, columns, matTableRef)">
                    <span mat-sort-header>{{ columns[2].name }}</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    <span [ngClass]="'nonEditiableField'">{{element.name ? element.name : '-'}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-column-'+columns[3].field"
                    (mousedown)="commonService.onResizeColumn($event, 3, columns, matTableRef)">
                    <span mat-sort-header>{{ columns[3].name }}</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    <span [ngClass]="'nonEditiableField'">{{element.description ? element.description : '-'}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-column-'+columns[4].field"
                    (mousedown)="commonService.onResizeColumn($event, 4, columns, matTableRef)">
                    <span mat-sort-header>{{ columns[4].name }}</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    <span [ngClass]="'nonEditiableField'">{{element.labelName ? element.labelName : '-'}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="printer">
                <th mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-column-'+columns[5].field"
                    (mousedown)="commonService.onResizeColumn($event, 5, columns, matTableRef)">
                    <span mat-sort-header>{{ columns[5].name }}</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    <span [ngClass]="'nonEditiableField'">{{element.printerName ? element.printerName : '-'}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="enabled">
                <th mat-header-cell *matHeaderCellDef
                    [ngClass]="'cursor-auto text-center mat-header-column-'+columns[4].field"
                    (mousedown)="commonService.onResizeColumn($event, 4, columns, matTableRef)">
                    <span>{{ columns[4].name }}</span>
                </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <mat-checkbox [(ngModel)]="element.active" value="element.active" disabled="true">
                    </mat-checkbox>
                </td>
            </ng-container>


            <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef
                    [ngClass]="'cursor-auto actionColumn mat-header-column-'+columns[5].field">
                    {{ columns[5].name }}
                </th>
                <td mat-cell *matCellDef="let element; let i=index" [ngClass]="'actionIcons'">
                    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                        <!-- <span (click)="goFor('view', element)" matRipple matTooltip="View"
                            [matTooltipPosition]="tooltipPosition" [matRippleColor]="'#098ccd3b'"
                            [matRippleCentered]="true" [matRippleRadius]="false">
                            <mat-icon>remove_red_eye</mat-icon>
                        </span> -->
                        <span (click)="goFor('edit', element.id)" matRipple matTooltip="Edit"
                            [matTooltipPosition]="tooltipPosition" [matRippleColor]="'#098ccd3b'"
                            [matRippleCentered]="true" [matRippleRadius]="false">
                            <mat-icon>edit</mat-icon>
                        </span>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="parameterDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: parameterDisplayedColumns"></tr>
        </table>

        <ng-container *ngIf="listProgress">
            <mat-spinner [diameter]="40" [ngClass]="'loaderSpinner'"></mat-spinner>
        </ng-container>
        <ng-container *ngIf="!parameterDataSource.data.length && !listProgress">
            <div [ngClass]="'noDataFound'">
                <small>{{ shipmentTableMessage }}</small>
            </div>
        </ng-container>
    </div>
    <mat-paginator (page)="commonService.setPaginationSize($event)" showFirstLastButtons [ngClass]="'mat-paginator-sticky'">
    </mat-paginator>
</div>
<!-- <div [fxShow]="searchEnable" [ngClass]="searchEnable ? 'searchRight top-68' : ''">
        <mat-sidenav class="rightSideNav" opened mode="side" position="end" [disableClose]="true">
            <app-printer-manager-search fxLayout="row" (searchComponentToggle)="getSearchToggle($event)"></app-printer-manager-search>
        </mat-sidenav>
    </div> -->
<!-- </div> -->