.formHeader {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
.formHeaderTitle {
    font-weight: 500;
}

.customWidthClass {
    min-width: 135px;
}
.customWidth80 {
    min-width: 95px;
}
.customWidth100 {
    min-width: 100px;
    max-width: 100px;
}
.width80 {
    min-width: 80px;
}
.customWidth95 {
    min-width: 105px;
}
.stickyColumn {
    min-width: 105px;
    max-width: 105px;
}
.stickyColumn2 {
    min-width: 135px;
    max-width: 135px;
    left: 129px !important;
}
.stickyColumn3 {
    min-width: 135px;
    max-width: 135px;
    left: 264px !important;
}
.stickyColumn4 {
    min-width: 80px;
    max-width: 80px;
    right: 80px !important;
}
.customDescriptionField {
    margin-right: 10px;
    min-width: 250px;
}

.nonEditiableDesField {
    display: inline-block;
    width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    padding-top: 7px;
    color: #5b5b5b;
}

.inputWidthClass {
    margin-right: 10px;
    max-width: 95px;
}
.locCodeField {
    margin-right: 10px;
    max-width: 120px;
}

.checkFieldWidthClass {
    min-width: 80px;
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}

.customTable {
    overflow-x: auto;
}
.scrollHide {
    overflow-x: scroll;
    overflow-y: hidden;
}
.textInput{
    background-color: white;
    width: 100%;
    font-size: 15px;
    padding: 1px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.textInputLabel{
    font-size: 12px;
    padding-top: 5px;
    color: #1a71b1;
}

.alignCenter{
    text-align: center;
}

::ng-deep .maxWidth .mat-form-field{
    max-width: 90%;
}

::ng-deep .maxWidthSelect .mat-select{
    max-width: 80%;
}

.setWidth{
    min-width: 90%;
    max-width: 90%;
    width: 50px;
}

.content-wrapper1 {
    padding: 0px;
    width: 76%;
}

.setWith5Percent{
    width : 5%;
}

.setWith10Percent{
    width : 10%;
}

.setWith15Percent{
    width : 15%;
}
::ng-deep .selectArrowHide.mat-select .mat-select-arrow {
    color: #fff !important;
}
th.mat-header-cell, td.mat-cell{
    /* text-overflow: ellipsis; */
    padding-right: 12px;
    padding-left: 12px;
    white-space: normal;
}
th.mat-header-cell:last-child{
    padding-right:0;
}

.mat-header-cell {
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.customWidth150{
    min-width: 150px;
    max-width: 150px;
}
.customWidth100{
    min-width: 100px;
    max-width: 100px;
}
.customWidth80{
    min-width: 80px;
    max-width: 80px;
}

::ng-deep .mat-input-element{
    color: rgba(0,0,0,.87) !important;
}
