.customTable{
    overflow: auto;
}
::ng-deep .selectArrowHide.mat-select .mat-select-arrow {
    color: #fff !important;
}

.mat-dialog-title{
    margin-bottom: 0px !important;
}

.mat-dialog-content{
    padding: 0px !important;
    min-height: 250px;
 
}
.mat-dialog-content table.mat-table{
    margin-bottom: 0px !important;
}

.width10{
    width: 10%;
    min-width: 50px;
}

.width15{
    width: 11%;
    min-width: 120px;
}

.setPadding{
    padding-right: 10px;
}

::ng-deep .mat-select-disabled .mat-select-value {
    color: black !important;
}
.mat-form-field-type-mat-native-select.mat-form-field-disabled
    .mat-form-field-infix::after,
.mat-input-element:disabled {
    color: #000000;
}
::ng-deep .nonEditiableField{
    color: black !important;
}

.example-section {
    min-width: 250px;
    padding: 0px 0px 0px 0px;
    border: 1px solid #a19e9e;
    border-radius: 3px 3px 3px 3px;
    margin-right: 30px !important;
}

  
ul {
    list-style-type: none;
    margin-top: 4px;
    padding: 10px 30px 0px 18px;
}

.headingCheck{
    min-width: 30px;
    margin-top: -10px;
    margin-left: 8px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    font-size: 14px;
    color: #098ccd;
    position: absolute;
}

::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #098ccd !important;
}