.formHeader{
    padding: 10px 20px;
    border-bottom: 1px solid #ccc
}
.formHeaderTitle{
    font-weight: 500;
}
.roleSearchBox{
    background-color:#f2f2f4;
    padding:10px 10px 10px 20px;
    position: relative;
}
.searchBoxLabel{
    font-size:14px;
}
.searchInput{
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 0 10px;
    background: #fff;
    width: 120px;
    font-size: 14px;
}

.searchInputIU{
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 0 10px;
    background: #fff;
    width: 140px;
    font-size: 14px;
}
.roleSearchBox .mat-flat-button.formButton{
    height:28px;
    line-height: 28px;
}
.roleSearchBox .mat-error{
    display: inline-block;
    font-size:12px;
}
.actionColumn {
    min-width: 60px;
}
th.mat-header-cell, td.mat-cell{
    padding-right:10px;
}
th.mat-header-cell:last-child{
    padding-right:0;
}
/* .mat-column-action{
    border-left:1px solid red;
} */
.dateField{
    max-width: fit-content;
    display: contents;
}
.percent5{
    width: 5%;
}
.percent10{
    width: 10%;
}
.percent15{
    width: 15%;
}
.percent20{
    width: 20%;
}
.percent30{
    width: 24%;
}
.deleteDialog .mat-dialog-content{
  padding: 0px 14px 10px 14px;
  font-size: 14px;
}
.viewDialogHeader.mat-dialog-title{
  padding: 2px 0 0px 10px;
  margin: 0px;
}

.mat-dialog-content{
  padding: 0px 0px 10px 0px;
  min-height: 60px;
}

.mandatory {
    margin-left: 5px;
    margin-right: 5px;
    color: #f80707;
    font-size: 14px;
}

::ng-deep .viewDialogTitle{
    display: flex;
    padding-top: 5px;
    padding-left: 0px;
}